package ${package}.pm.bff.${moduleName}.controller;

import ${package}.common.module.${moduleName}.${className}AddCommand;
import ${package}.common.module.${moduleName}.${className}DTO;
import ${package}.common.module.${moduleName}.${className}Query;
import ${package}.common.module.${moduleName}.${className}UpdateCommand;
import ${mainPath}.common.base.message.PageResult;
import ${mainPath}.common.base.message.Result;
import ${package}.pm.bff.${moduleName}.feign.${className}ServiceFeign;
import lombok.RequiredArgsConstructor;
import org.springframework.web.bind.annotation.*;

import java.util.List;


/**
 * ${comments}
 *
 * @author ${author}
 * @since ${version}
 * @since 1.0.0
 */
@RequiredArgsConstructor
@RestController
@RequestMapping("/${moduleName}${controllerAddress}")
public class ${className}Controller {

    private final ${className}ServiceFeign ${classname}ServiceFeign;

    /**
     * 查询列表
     *
     * @param query 查询参数
     * @return 查询结果
     */
    @GetMapping("page")
    public Result<PageResult<${className}DTO>> page(${className}Query query) {
        return ${classname}ServiceFeign.page(query);
    }

    /**
     * 根据ID查询
     *
     * @param ${pk.attrname}
     * @return
     */
    @GetMapping("details")
    public Result<${className}DTO> details(@RequestParam ${pk.attrType} ${pk.attrname}) {
        return ${classname}ServiceFeign.details(${pk.attrname});
    }

    /**
     * 根据主键更新
     *
     * @param cmd 更新指令参数
     * @return 操作是否成功
     */
    @PutMapping("update")
    public Result<Boolean> update(@RequestBody ${className}UpdateCommand cmd) {
        return ${classname}ServiceFeign.update(cmd);
    }

    /**
     * 新增
     *
     * @param cmd 新增指令参数
     * @return 操作是否成功
     */
    @PostMapping("save")
    public Result<Boolean> save(@RequestBody ${className}AddCommand cmd) {
        return ${classname}ServiceFeign.save(cmd);
    }

    /**
     * 新增
     *
     * @param cmds 新增指令参数
     * @return 新增操作是否成功
     */
    @PostMapping("saveBatch")
    public Result<Boolean> saveBatch(@RequestBody List<${className}AddCommand> cmds) {
        return ${classname}ServiceFeign.saveBatch(cmds);
    }

    /**
     * 删除
     *
     * @param ${pk.attrname}s
     * @return
     */
    @DeleteMapping("deleteByIds")
    public Result<Boolean> deleteByIds(@RequestBody List<${pk.attrType}> ${pk.attrname}s) {
        return ${classname}ServiceFeign.deleteByIds(${pk.attrname}s);
    }

}
