package ${package}.service.${moduleName}.service;

import ${package}.common.${moduleName}.*;
import ${package}.common.utils.base.message.BasePage;
import ${package}.common.utils.base.message.PageResult;
import ${package}.common.utils.base.message.Result;
import ${package}.service.${moduleName}.feign.${className}RepositoryFeign;
import lombok.RequiredArgsConstructor;
import org.springframework.stereotype.Component;

import java.util.List;

/**
 * ${comments}
 *
 * @author ${author}
 * @version ${version}
 * @date ${datetime}
 */
@RequiredArgsConstructor
@Component
public class ${className}Service {

    private final ${className}RepositoryFeign ${classname}RepositoryFeign;

    /**
     * 查询列表
     *
     * @param query
     * @param basePage
     * @return
     */
    public Result<PageResult<${className}DTO>> page(${className}Query query) {
        return ${classname}RepositoryFeign.page(query, basePage);
    }

    /**
     * 根据ID查询
     *
     * @param ${pk.attrname}
     * @return
     */
    public Result<${className}DTO> details(${pk.attrType} ${pk.attrname}) {
        return ${classname}RepositoryFeign.details(${pk.attrname});
    }

    /**
     * 根据主键更新
     *
     * @param cmd
     * @return
     */
    public Result<Boolean> update(${className}UpdateCommand cmd) {
        return ${classname}RepositoryFeign.update(cmd);
    }

    /**
     * 新增
     *
     * @param cmd
     * @return
     */
    public Result<Boolean> save(${className}AddCommand cmd) {
        return ${classname}RepositoryFeign.save(cmd);
    }

    /**
     * 批量新增
     *
     * @param cmds
     * @return
     */
    public Result<Boolean> saveBatch(List<${className}AddCommand> cmds) {
        return ${classname}RepositoryFeign.saveBatch(cmds);
    }

    /**
     * 删除
     *
     * @param ${pk.attrname}s
     * @return
     */
    public Result<Boolean> deleteByIds(List<${pk.attrType}> ${pk.attrname}s) {
        return ${classname}RepositoryFeign.deleteByIds(${pk.attrname}s);
    }
}