package ${package}.core.${moduleName}.repository;

import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import com.baomidou.mybatisplus.extension.service.IService;
import com.quan.common.base.message.BasePage;
import ${package}.core.repository.${moduleName}.entity.${className}PO;

/**
 * ${comments}
 *
 * @author ${author}
 * @version ${version}
 * @date ${datetime}
 */
public interface ${className}Repository extends IService<${className}PO> {

    /**
     * 分页查询
     * <p>
     * 当有排序参数 sort 时，优先根据sort 升序，然后根据创建时间降序
     *
     * @param po
     * @param basePage
     * @return
     */
    Page<${className}PO> page(${className}PO po);

}

