package ${package}.core.${moduleName}.repository;

import com.baomidou.mybatisplus.extension.service.IService;
import ${mainPath}.common.base.message.BasePage;
import ${mainPath}.common.base.message.PageResult;
import ${package}.core.${moduleName}.entity.${className}PO;

/**
 * ${comments}
 *
 * @author ${author}
 * @since ${version}
 * @since 1.0.0
 */
public interface ${className}Repository extends IService<${className}PO> {

    /**
     * 分页查询
     *
     * @param po
     * @param basePage
     * @return
     */
    PageResult<${className}PO> page(${className}PO po, BasePage basePage);

}

