package ${package}.core.${moduleName}.controller;

import ${package}.common.module.${moduleName}.${className}AddCommand;
import ${package}.common.module.${moduleName}.${className}Query;
import ${package}.common.module.${moduleName}.${className}UpdateCommand;
import ${mainPath}.common.base.message.PageResult;
import ${mainPath}.common.base.message.Result;
import ${package}.core.${moduleName}.convert.${className}Assembler;
import ${package}.core.${moduleName}.entity.${className}PO;
import ${package}.core.${moduleName}.repository.${className}Repository;
import lombok.RequiredArgsConstructor;
import org.springframework.web.bind.annotation.*;

import java.util.List;


/**
 * ${comments}
 *
 * @author ${author}
 * @version ${version}
 * @date ${datetime}
 */
@RequiredArgsConstructor
@RestController
@RequestMapping("${prefixCore}${moduleName}${controllerAddress}")
public class ${className}Controller {

    private final ${className}Repository ${classname}Repository;

    /**
     * 查询列表
     *
     * @param query
     * @return
     */
    @GetMapping("page")
    public Result<PageResult> page(${className}Query query) {
        ${className}PO po = ${className}Assembler.INSTANCE.toQueryPO(query);
        return Result.success(${classname}Repository.page(po, query));
    }

    /**
     * 根据ID查询
     *
     * @param ${pk.attrname}
     * @return
     */
    @GetMapping("details")
    public Result details(@RequestParam ${pk.attrType} ${pk.attrname}) {
        return Result.success(${classname}Repository.getById(${pk.attrname}));
    }

    /**
     * 根据主键更新
     *
     * @param cmd
     * @return
     */
    @PutMapping("update")
    public Result update(@RequestBody ${className}UpdateCommand cmd) {
        ${className}PO po = ${className}Assembler.INSTANCE.toUpdatePO(cmd);
        return Result.success(${classname}Repository.updateById(po));
    }

    /**
     * 新增
     *
     * @param cmd
     * @return
     */
    @PostMapping("save")
    public Result save(@RequestBody ${className}AddCommand cmd) {
        ${className}PO po = ${className}Assembler.INSTANCE.toAddPO(cmd);
        return Result.success(${classname}Repository.save(po));
    }

    /**
     * 批量新增
     *
     * @param cmds
     * @return
     */
    @PostMapping("saveBatch")
    public Result saveBatch(@RequestBody List<${className}AddCommand> cmds) {
        List<${className}PO> pos = ${className}Assembler.INSTANCE.toAddPOS(cmds);
        return Result.success(${classname}Repository.saveBatch(pos));
    }

    /**
     * 删除
     *
     * @param ${pk.attrname}s
     * @return
     */
    @DeleteMapping("deleteByIds")
    public Result deleteByIds(@RequestBody List<${pk.attrType}> ${pk.attrname}s) {
        return Result.success(${classname}Repository.removeByIds(${pk.attrname}s));
    }

}
