package ${package}.core.${moduleName}.repository.impl;

import com.baomidou.mybatisplus.core.conditions.query.LambdaQueryWrapper;
import com.baomidou.mybatisplus.core.toolkit.Wrappers;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import com.baomidou.mybatisplus.extension.service.impl.ServiceImpl;
import ${package}.common.utils.base.message.BasePage;
import ${package}.core.convert.PageMapping;
import ${package}.core.repository.${moduleName}.${className}Repository;
import ${package}.core.repository.${moduleName}.entity.${className}PO;
import ${package}.core.repository.${moduleName}.mapper.${className}Mapper;
import org.springframework.stereotype.Service;

/**
 * ${comments}
 *
 * @author ${author}
 * @version ${version}
 * @date ${datetime}
 */
@Service
public class ${className}RepositoryImpl extends ServiceImpl<${className}Mapper, ${className}PO> implements ${className}Repository {

    @Override
    public Page<${className}PO> page(${className}PO po) {
        Page<${className}PO> page = PageMapping.INSTANCE.toPage(basePage);
        LambdaQueryWrapper<${className}PO> queryWrapper = Wrappers.lambdaQuery(po);
        page = this.page(page, queryWrapper);
        return PageResultAssembler.INSTANCE.toPageResult(page);
    }

}
