package ${package}.service.${moduleName}.feign;

import ${package}.common.${moduleName}.*;
import ${package}.common.utils.base.message.BasePage;
import ${package}.common.utils.base.message.PageResult;
import ${package}.common.utils.base.message.Result;
import ${package}.service.${moduleName}.feign.fallback.${className}RepositoryFallback;
import org.springframework.cloud.openfeign.FeignClient;
import org.springframework.stereotype.Component;
import org.springframework.web.bind.annotation.*;

import java.util.List;

/**
 * ${comments}
 *
 * @author ${author}
 * @version ${version}
 * @date ${datetime}
 */
@FeignClient(value = "${${prefixFeignUrl}.core.name}", url = "${${prefixFeignUrl}.core.url:}", fallbackFactory = ${className}RepositoryFallback.class)
public interface ${className}RepositoryFeign {

    /**
     * 查询列表
     *
     * @param query
     * @param basePage
     * @return
     */
    @GetMapping("${prefixCore}${moduleName}${controllerAddress}page")
    Result<PageResult<${className}DTO>> page(${className}Query query);

    /**
     * 根据ID查询
     *
     * @param ${pk.attrname}
     * @return
     */
    @GetMapping("${prefixCore}${moduleName}${controllerAddress}details")
    Result<${className}DTO> details(@RequestParam ${pk.attrType} ${pk.attrname});

    /**
     * 根据主键更新
     *
     * @param cmd
     * @return
     */
    @PutMapping("${prefixCore}${moduleName}${controllerAddress}update")
    Result<Boolean> update(@RequestBody ${className}UpdateCommand cmd);

    /**
     * 新增
     *
     * @param cmd
     * @return
     */
    @PostMapping("${prefixCore}${moduleName}${controllerAddress}save")
    Result<Boolean> save(@RequestBody ${className}AddCommand cmd);

    /**
     * 批量新增
     *
     * @param cmds
     * @return
     */
    @PostMapping("${prefixCore}${moduleName}${controllerAddress}saveBatch")
    Result saveBatch(@RequestBody List<${className}AddCommand> cmds);

    /**
     * 删除
     *
     * @param ${pk.attrname}s
     * @return
     */
    @DeleteMapping("${prefixCore}${moduleName}${controllerAddress}deleteByIds")
    Result<Boolean> deleteByIds(@RequestBody List<${pk.attrType}> ${pk.attrname}s);

}
